<p>success works!</p>

<div class="container">





    Welcomee{{id}}<br/>

<div class="row">
<input type="submit" value="Edit profile" class="btn btn-primary"><br/><hr/>
<input type="submit" value="Add contacts" class="btn btn-light"><hr/>
<input type="submit" value="View all contacts" class="btn btn-info"><hr/>
<input type="submit" value="edit contacts" class="btn btn-success"><hr/>
<input type="submit" value="delete contacts" class="btn btn-warning"><hr/>
<input type="submit" value="delete my profile" class="btn btn-danger"><hr/>
<input type="submit" value="logout" class="btn btn-warning"><hr/>

    </div>
</div>