<p>open works!</p>

<div>

<div class="container">
    <div class="row">
    <a routerLink="register" class="btn btn-primary">Register</a></div>

    <hr/>
<div class="row">
    <a routerLink="login" class="btn btn-success">Login</a></div>

    <!--
<form #openForm="ngForm" (ngSubmit)="handle(openForm.value)">


    <button type="submit" class="btn btn-success" name="register" value="3">Register</button>
    <button type="submit" class="btn btn-primary" name="login" value="6">Login</button>
</form>-->
</div></div>